﻿@model IEnumerable<PasswordGenerator.Models.login>

@{
    ViewBag.Title = "Paroles";
}

<h2>Paroles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lietotajvards)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lietotajvards)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_login }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_login }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_login })
        </td>
    </tr>
}

</table>
